html {
  font-family: 'Playfair Display', serif;
  background-color: #a0a7bd;
}

header {
  background-color: midnightblue;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
  text-decoration: none;
  line-height: 1.5;
  background-color: midnightblue;
  padding: 1em 2em 0.5em 3em;
  margin: 0;
  color: white;
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0
}

nav a{
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav {
  background-color: midnightblue;
  text-align: center;
}

a {
  color: black;
  background-color: purple

}

a:hover {
  color: white;
}

h2 {
  color: midnightblue;
}

blockquote {
  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;
}

.cite {
  text-align: right;
}

em {
  color: purple;
}
