html {
  font-family: 'Playfair Display', serif;
  background-color: #a0a7bd;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
  text-decoration: underline;
  line-height: 1.5;
  color: midnightblue
}

ol {
  list-style-type: none;
  padding: 0
}

a {
  color: purple;
}

a:hover {
  color: white;
}

h2 {
  color: midnightblue;
}

blockquote {
  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;
}

.cite {
  text-align: right;
}

em {
  color: purple;
}
